* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-page {
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #86fde8,
    #acb6e5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #content {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    //   justify-content: center;
    text-align: center;
    #text {
      font-size: 4rem;
      padding: 40px 0 0;
    }
    #res {
      #numb {
        font-size: 6rem;
        padding: 10px 0 20px 0;
      }
      #btns {
        button {
          width: 100px;
          height: 40px;
          margin: 0 30px;
          border: none;
          background: #2193b0; /* fallback for old browsers */
          background: -webkit-linear-gradient(
            to right,
            #6dd5ed,
            #2193b0
          ); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(
            to right,
            #6dd5ed,
            #2193b0
          ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          border-radius: 20px;
          font-size: 16px;
          font-weight: bold;
          color: white;
          transition: all 0.5s ease;
          &:hover{
              border-bottom: 3px solid #fff;
          }
        }

      }
    }
  }
}
